@{
    ViewBag.Title = "About us";

    Layout = "~/Views/Shared/View2.cshtml";
}


<h2 style="font-weight:bold;font-size:25px">@ViewBag.Title.</h2>
<div>
    <h3 class="jumbotron">
        Travolook is a leading travel correlation web portal that gives you a chance to discover cheap flights tickets on the web. Regardless of whether you're going is just a tick away! You can look at flight tolls, from all the best web travel destinations in a single area. Finding cheap flights has never been less demanding. Spare time, set aside some cash; there's no compelling reason to visit a great many websites to discover cheap flight tickets or the best deal. It's everything here for you in one area Travolook-we'll get you where you need to go.<br />
    </h3>
    <br /><br />
    <br />
</div>
<div class="container" style="font-weight:bold;font-size:20px">
    <strong>Click here to know more about us:</strong>   <a href="https://www.travolook.in/about-us">support@travolook.in</a><br />
</div><br /><br /><br /><br /><br />
