@{
    Layout = "~/Views/Shared/View2.cshtml";
}

<h3 style="font-weight:bold;font-size:25px"><bold>Contact Us</bold></h3>
<div class="jumbotron" style="font-size:20px">
    <address>
        <strong>Address :</strong> 445, Udyog Vihar Phase V, Sector 19 Gurugram, Haryana 122008<br />
        <abbr title="Phone"><strong>Phone no :</strong></abbr>
        0124-643-4800<br /><br />
        <strong style="font-weight:bold;font-size:25px">Email:</strong>  <bold> <a href="pmramya17@gmail.com">support@travolook.in</a><br /></bold>
    </address>
</div>
<br /><br /><br /><br /><br /><br /><br />