@{
    Layout = "~/Views/Shared/View1.cshtml";
}

<html>
@*<h1 text-align="left">Welome to Home Page!!!</h1>*@
<body style=" background-color:darkcyan;color:black">
    @*<h1>Home</h1>*@
    @*<h2>Book Domestic and International flights</h2>*@

    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img src="~/home.jpg" style="width:800PX;height:400px" />


    <h2><b>Top Domestic Routes</b></h2>

    <h4>
        Mumbai To Delhi | Mumbai To Goa | Mumbai To Jaipur | Mumbai To Chandigarh | Mumbai To Chennai | Mumbai To Kolkata | Mumbai To Bangalore | Mumbai To Hyderabad | Delhi To Mumbai | Delhi To Goa | Delhi To Jaipur | Delhi To Chandigarh | Delhi To Chennai | Delhi To Kolkata | Delhi To Bangalore | Delhi To Hyderabad | Goa To Delhi | Goa To Mumbai
    </h4>

    <h2><b>Domestic Destinations</b></h2>

    <h4> Flights to Bangalore | Flights to Chennai | Flights to Delhi | Flights to Hyderabad | Flights to Kolkata | Flights to Mumbai | Flights to Goa | Flights to Patna</h4>

</body>
</html>
<br />


