
@{
    ViewBag.Title = "WelcomeAdmin";
    Layout = "~/Views/Shared/View.cshtml";
}
<style>
    body {
        background-image: url('../../FLIGHT.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<body>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>