
@{
    ViewBag.Title = "WelcomeUser";
    Layout = "~/Views/Shared/User.cshtml";
}
<h1>@ViewBag.id</h1>
<body style="background-color:lightblue">
    <h2>@ViewBag.name</h2>
    <img src="~/home.jpg" style="width:1200PX" />
</body>
<br />