
@{
    /**/

    ViewBag.Title = "Welcome";

    Layout = "~/Views/Shared/User.cshtml";
}

<br />
@*gets the booking id of the user*@
<div style="font-size:18px;color:black;font-weight:bold" class="jumbotron">
    <h1>Note Down Your Booking Id For Future Use</h1>
    <h2> <b>Your Booking Id Is  </b></h2>
    <h1 style="font-size:25px;color:black;font-weight:bold">@ViewBag.id</h1>
    
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />